@import "tailwindcss";
@import 'primeicons/primeicons.css';

@theme{
  --default-font-family: "Yuji Mai", serif;
  --color-soft-pink: #f4d4e0;
  --color-fushia: #ff0092;
  --color-button: #ff61ad;
  --font-yuji : "Yuji Mai", serif;
}